
.ben-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f8f9fa;
    padding: 20px;
}

.form-box-login {
    background: white;
    padding: 25px;
    padding-right: 40px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 280px;
    text-align: center;
}


.form-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.subtext {
    color: #777;
    font-size: 14px;
    margin-bottom: 15px;
}


input, select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    margin-right: 10px;
    margin-bottom: 10px;

}

.select{
    width: 120%;
}


.create-btn {
    width: 100%;
    background-color: #115778;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
}

.create-btn:hover {
    background-color: #104760;
}
.height{
    margin-top: 8px;
}